# --- Python / Virtual Environment ---

venv/
.venv/
env/
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
.Python
pip-log.txt
*.tslog

# --- React / Frontend  ---

node_modules/
frontend/node_modules/
frontend/dist/
.vite/
*.local

# --- Environment Variables ---

.env
.env.secret
.env.*.local

# --- Docker & Fly.io ---

.dockerignore
*.log
.fly/
fly.toml

# --- OS Specific ---

.DS_Store
.DS_Store?
._*
Thumbs.db
desktop.ini

# --- Editor Specific ---

.vscode/
.idea/
*.swp
*.swo