# --- Python / Virtual Environment ---

venv/
.venv/
env/
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt
.toast
*.tslog

# --- Environment Variables ---

.env
.venv
env.local
.env.secret

# --- Docker & Fly.io ---

.dockerignore
*.log
.fly/

# --- OS Specific ---

.DS_Store
.DS_Store?
._*
Thumbs.db
desktop.ini

# --- Editor Specific ---

.vscode/
.idea/
*.swp
*.swo